<!DOCTYPE html>
{% extends 'indexp.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'updatepro' dataid=data.id %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Product Details</h4>
<!--                    <p class="card-description"> Basic form elements </p>-->
                    <form class="forms-sample">
                      <div class="form-group">
                        <label >Category</label>
                          <select id="" name="pcategory">
                              <option>{{data.Category}}</option>
                              {% for i in cat %}
                              <option>{{i.Category}}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="form-group">
                        <label >Product Name</label>
                        <input type="text" class="form-control"  placeholder="Product" name="product" value="{{data.Product}}">
                      </div>
                      <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control"  placeholder="Price" name="price" value="{{data.Price}}">
                      </div>
                      <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control"  rows="4" name="pdescription" placeholder="Product Description">{{data.PDescription}}</textarea>
                      </div>
                      <div class="form-group">
                        <label >Brand</label>
                        <input type="text" class="form-control"  placeholder="Brand" name="brand" value="{{data.Brand}}">
                      </div>
                      <div class="form-group">
                        <label>Product Image</label>
                        <img src="{{data.Product_Image.url}}" width="50px" height="50px">
                        <input type="file" name="proimage" class="form-control">
<!--                        <div class="input-group col-xs-12">-->
<!--                          <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">-->
<!--                          <span class="input-group-append">-->
<!--                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                          </span>-->
<!--                        </div>-->
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
       {% for i in messages %}
          {% if i.tags == 'warning' %}
              <script>
                  swal('{{i}}','','warning');
              </script>
          {% elif i.tags == 'error' %}
              <script>
                  swal('{{i}}','','error');
              </script>
          {% else %}
              <script>
                  swal('{{i}}','','success');
              </script>
          {% endif %}
       {% endfor %}
    {% endif %}
</html>
{% endblock %}